discord.py==2.3.2
yt-dlp==2023.11.16
pynacl==1.5.0
async-timeout==4.0.2
attrs==23.1.0
multidict==6.0.4
yarl==1.9.2
aiohttp==3.8.5
chardet==5.1.0
idna==3.4
asyncio==3.4.3
python-dotenv==1.0.0
ffmpeg-python==0.2.0